<IfModule mod_rewrite.c>

RewriteEngine On
#RewriteBase /project/ECOTICRAFT/ci3/ecoticraft/community
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php/$1

</IfModule>