@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("scrollbar.css");
@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.googleapis.com/css?family=Italiana");

/* TEMPAT KONFIGURASI SECARA DEFAULT */
/* TERMASUK IMPORT FONT, CUSTOM SCROLLBAR DAN LAIN LAIN */

:root {
  /* warna ijo nya ecoticraft */
  --basic-color: #244602;
  --basic-color-hero: rgba(36, 70, 2, 0.164);
  --basic-color-lighter: #3d5d1c;
  --basic-color-hover: #43770f;
  --basic-color-click: #6d8a4f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}



/* ============ NAVBAR ============ */

header.navbar {
  background-color: #fff;
  z-index: 5;
  width: 100%;
  height: 65px;
  position: sticky;
  display: flex;
  flex-direction: row;
  gap: 5%;
  position: sticky;
  top: 0;
  transition-duration: 200ms;

  .icon-menu {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
  }

  .back-modal {
    display: none;
    position: sticky;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition-duration: 100ms;
  }

  .logo-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    margin: 0 1.5rem;

    img {
      width: 40px;
    }

    h4 {
      font-size: 1.1rem;
      font-weight: 700;
    }

  }

  nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    transform: translateX(0);
    transition-duration: 150ms;

    h3.title-navbar,
    span.close-span {
      display: none;
    }

    a {
      color: #000;
      align-self: center;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 16px;
      text-decoration: none;
      cursor: pointer;
      font-weight: 600;
      border: 0;
      font-size: 0.9rem;
    }

    .active-nav {
      border-left: none;
      border-bottom: 2px solid black;
    }

    a:hover {
      transition-duration: 200ms;
      background-color: #d8d8d8;
    }
  }
}


/* ========== FOOTER ========== */
footer {
  width: 100%;
  background-color: #f5f5f5;

  section {

    .aside-wrap {
      display: grid;
      gap: 48px;
      justify-content: center;
      justify-items: start;
      grid-template-columns: auto auto auto auto;
      padding: 24px;
      padding-top: 56px;

      aside {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: auto;

        h4 {
          font-size: 1.2rem;
        }

        a {
          font-size: 1rem;
          text-decoration: none;
          color: #000;

          img {
            width: 20px;
          }
        }

        a:hover {
          color: rgb(97, 97, 255);
        }
      }
    }
  }

  section:nth-child(2) {
    display: flex;
    justify-content: space-between;
    padding: 24px 40px;

    .platform-footer {
      display: flex;
      align-items: flex-end;
      gap: 12px;

      img {
        width: 50px;
      }
    }

    iframe {
      width: 30%;
      height: auto;
      aspect-ratio: 16/9;
      border-radius: 8px;
    }
  }

  section:nth-child(3) {
    h4 {
      text-align: left;
      font-weight: 400;
      padding: 24px;
    }
  }

}








/* ========= RESPONSIVE ONLY ========= */


@media (max-width: 1000px) {
  footer {
    section {
      .aside-wrap {
        grid-template-columns: auto auto auto;
      }
    }

    section:nth-child(2) {
      iframe {
        width: 45%;
      }
    }
  }
}


@media (max-width: 750px) {

  header.navbar {
    gap: 0;
  }

  footer {
    section {
      .aside-wrap {
        grid-template-columns: auto auto;
      }
    }
  }
}

@media (max-width: 650px) {
  header.navbar {
    justify-content: center;

    .logo-navbar {
      display: none;
    }
  }
}

@media (max-width: 600px) {

  footer {
    section:nth-child(2) {
      flex-direction: column;
      gap: 24px;
      align-items: center;

      iframe {
        width: 95%;
      }
    }
  }

}

@media (max-width: 500px) {

  header.navbar {
    nav {
      display: flex;
    }
  }

  footer {
    section {
      .aside-wrap {
        grid-template-columns: auto;
      }
    }
  }
}

@media (max-width: 450px) {
  header.navbar {
    background-color: var(--basic-color-hero);
    justify-content: flex-end;
    top: 0;

    .icon-menu {
      display: block;
    }

    .back-modal {
      display: none;
    }

    nav {
      position: sticky;
      right: 0;
      background-color: #fff;
      height: 100vh;
      flex-direction: column;
      width: 100%;
      display: none;

      .title-navbar {
        padding: 20px;
      }

      .active-nav {
        border: 0;
        border-left: 3px solid black;
        background-color: #f5f5f5;
      }

      h3.title-navbar {
        padding: 20px;
        text-align: left;
        display: block;
      }

      span.close-span {
        width: 100%;
        display: flex;
        padding: 14px 0;
        justify-content: center;

        img.close-navbar {
          display: block;
          width: 35px;
          cursor: pointer;
        }
      }

      a {
        width: 100%;
        height: 50px;
        background-color: #fff;
        font-weight: normal;
      }
    }
  }
}

@media (max-width: 400px) {
  footer {
    section:nth-child(2) {
      padding: 24px 10px;

      iframe {
        aspect-ratio: 16/11;
      }
    }
  }
}