* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_95 {
  width: 100%;
  height: 5151px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_84 {
  width: 564px;
  height: 560px;
  background: linear-gradient(rgba(217,217,217,1), rgba(36,70,2,0.699999988079071));
  opacity: 1;
  position: absolute;
  top: 1445px;
  left: 53px;
  border-radius: 50%;
  transform: rotate(-91deg);
}
.v16_89 {
  width: 564px;
  height: 560px;
  background: linear-gradient(rgba(217,217,217,1), rgba(36,70,2,0.699999988079071));
  opacity: 1;
  position: absolute;
  top: 916px;
  left: 932px;
  border-radius: 50%;
  transform: rotate(-91deg);
}
.v1_96 {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255,255,255,1), rgba(36,70,2,0.699999988079071));
  opacity: 1;
  position: absolute;
  top: 3725px;
  left: 0px;
  overflow: hidden;
}
.v1_98 {
  width: 100%;
  height: 672px;
  background: linear-gradient(rgba(255,255,255,1), rgba(36,70,2,0.699999988079071));
  opacity: 1;
  position: absolute;
  top: 672px;
  left: 1440px;
  transform: rotate(-180deg);
  overflow: hidden;
}
.v1_99 {
  width: 564px;
  height: 560px;
  background: linear-gradient(rgba(217,217,217,1), rgba(36,70,2,0.699999988079071));
  opacity: 1;
  position: absolute;
  top: 869px;
  left: 988px;
  border-radius: 50%;
  transform: rotate(-91deg);
}
.v16_88 {
  width: 454px;
  height: 451px;
  background: linear-gradient(rgba(217,217,217,1), rgba(36,70,2,0.699999988079071));
  opacity: 1;
  position: absolute;
  top: 1363px;
  left: 118px;
  border-radius: 50%;
  transform: rotate(-91deg);
}
.v1_100 {
  width: 705px;
  height: 672px;
  background: url("../images/v1_100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 735px;
  box-shadow: 0px -7px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.v1_101 {
  width: 705px;
  height: 672px;
  background: rgba(100,100,100,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 712px;
  overflow: hidden;
}
.v1_102 {
  width: 769px;
  height: 731px;
  background: url("../images/v1_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 9px;
  border-top-left-radius: 712px;
  overflow: hidden;
}
.v1_104 {
  width: 348px;
  height: 29px;
  background: url("../images/v1_104.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 503px;
  left: 87px;
  overflow: hidden;
}
.v1_106 {
  width: 348px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_107 {
  width: 555px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 290px;
  left: 76px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v147_171 {
  width: 607px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1637px;
  left: 84px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v1_108 {
  width: 538px;
  color: rgba(36,70,2,1);
  position: absolute;
  top: 383px;
  left: 75px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v1_115 {
  width: 190px;
  height: 39px;
  background: url("../images/v1_115.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 178px;
  overflow: hidden;
}
.v1_116 {
  width: 190px;
  height: 39px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1_117 {
  width: 100px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 50px;
  font-family: Inter;
  font-weight: Black;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_118 {
  width: 85px;
  height: 88px;
  background: url("../images/v1_118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 161px;
  overflow: hidden;
}
.v16_83 {
  width: 345px;
  height: 358px;
  background: url("../images/v16_83.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 947px;
  left: 507px;
  box-shadow: 0px 20px 11px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1_119 {
  width: 100px;
  height: 100px;
  background: url("../images/v1_119.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 542px;
  left: 1165px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1_120 {
  width: 100px;
  height: 100px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_121 {
  width: 116px;
  height: 116px;
  background: url("../images/v1_121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 8px;
  overflow: hidden;
}
.v1_122 {
  width: 100px;
  height: 100px;
  background: url("../images/v1_122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 542px;
  left: 1277px;
  overflow: hidden;
}
.v1_123 {
  width: 100px;
  height: 100px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_124 {
  width: 126px;
  height: 126px;
  background: url("../images/v1_124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 7px;
  overflow: hidden;
}
.v154_171 {
  width: 100%;
  height: 375px;
  background: url("../images/v154_171.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4776px;
  left: 0px;
  overflow: hidden;
}
.v154_98 {
  width: 100%;
  height: 375px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v154_99 {
  width: 245px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 91px;
  left: 141px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v154_100 {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 136px;
  left: 141px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v154_101 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 224px;
  left: 141px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v154_102 {
  width: 93px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 180px;
  left: 142px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v154_103 {
  width: 403px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 341px;
  left: 518px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v154_105 {
  width: 381px;
  height: 187px;
  background: url("../images/v154_105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 991px;
  overflow: hidden;
}
.v154_107 {
  width: 23px;
  height: 24px;
  background: url("../images/v154_107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 84px;
  left: 97px;
  overflow: hidden;
}
.v154_108 {
  width: 23px;
  height: 24px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v154_109 {
  width: 23px;
  height: 17px;
  background: url("../images/v154_109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 96px;
  overflow: hidden;
}
.v154_110 {
  width: 23px;
  height: 17px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v154_111 {
  width: 22px;
  height: 23px;
  background: url("../images/v154_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 264px;
  left: 96px;
  overflow: hidden;
}
.v154_112 {
  width: 22px;
  height: 23px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v154_113 {
  width: 23px;
  height: 23px;
  background: url("../images/v154_113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 97px;
  overflow: hidden;
}
.v154_114 {
  width: 23px;
  height: 23px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v154_115 {
  width: 23px;
  height: 23px;
  background: url("../images/v154_115.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 96px;
  overflow: hidden;
}
.v154_116 {
  width: 23px;
  height: 23px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_128 {
  width: 300px;
  height: 559px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 183px;
  left: 845px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1_129 {
  width: 292px;
  height: 224px;
  background: rgba(36,70,2,0.5);
  opacity: 1;
  position: absolute;
  top: 448px;
  left: 853px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  overflow: hidden;
}
.v1_139 {
  width: 80px;
  height: 21px;
  background: url("../images/v1_139.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 372px;
  left: 955px;
  overflow: hidden;
}
.v1_140 {
  width: 80px;
  height: 21px;
  background: rgba(36,70,2,0.5);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1_141 {
  width: 29px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 25px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v1_142 {
  width: 100px;
  height: 100px;
  background: url("../images/v1_142.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 542px;
  left: 1053px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1_143 {
  width: 100px;
  height: 100px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_144 {
  width: 108px;
  height: 108px;
  background: url("../images/v1_144.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.v1_145 {
  width: 168px;
  height: 168px;
  background: url("../images/v1_145.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 476px;
  left: 867px;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1_146 {
  width: 168px;
  height: 168px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_147 {
  width: 188px;
  height: 188px;
  background: url("../images/v1_147.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 10px;
  overflow: hidden;
}
.v1_148 {
  width: 100px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 315px;
  left: 945px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_149 {
  width: 97px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 339px;
  left: 947px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_182 {
  width: 970px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3273px;
  left: 75px;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v206_113 {
  width: 640px;
  height: 424px;
  background: url("../images/v206_113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 914px;
  left: 679px;
  overflow: hidden;
}
.v16_86 {
  width: 640px;
  height: 3px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v205_130 {
  width: 640px;
  height: 3px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 421px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v16_87 {
  width: 393px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v1_151 {
  width: 640px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 82px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: justified;
}
.v16_90 {
  width: 300px;
  height: 1px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 215px;
  left: 845px;
  overflow: hidden;
}
.v16_91 {
  width: 300px;
  height: 1px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 706px;
  left: 845px;
  overflow: hidden;
}
.v154_227 {
  width: 100%;
  height: 780px;
  background: url("../images/v154_227.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3530px;
  left: 56px;
  overflow: hidden;
}
.v154_226 {
  width: 100%;
  height: 762px;
  background: url("../images/v154_226.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v154_225 {
  width: 100%;
  height: 762px;
  background: url("../images/v154_225.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v123_127 {
  width: 100%;
  height: 762px;
  background: url("../images/v123_127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 8px 14px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v154_224 {
  width: 100%;
  height: 762px;
  background: url("../images/v154_224.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1369px;
  overflow: hidden;
}
.v154_219 {
  width: 100%;
  height: 762px;
  background: url("../images/v154_219.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 8px 14px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v154_223 {
  width: 100%;
  height: 762px;
  background: linear-gradient(rgba(255,255,255,1), rgba(18,35,1,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v147_222 {
  width: 100%;
  height: 468px;
  background: url("../images/v147_222.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1724px;
  left: 75px;
  overflow: hidden;
}
.v147_124 {
  width: 100%;
  height: 468px;
  background: url("../images/v147_124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_125 {
  width: 409px;
  height: 468px;
  background: url("../images/v147_125.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_126 {
  width: 409px;
  height: 468px;
  background: url("../images/v147_126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 14px 17px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v147_127 {
  width: 409px;
  height: 468px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_128 {
  width: 409px;
  height: 289px;
  background: url("../images/v147_128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_129 {
  width: 52px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 320px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v147_130 {
  width: 121px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 408px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v147_131 {
  width: 144px;
  color: rgba(0,0,0,0.6299999952316284);
  position: absolute;
  top: 349px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v147_133 {
  width: 409px;
  height: 468px;
  background: url("../images/v147_133.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 437px;
  box-shadow: 14px 14px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v147_134 {
  width: 409px;
  height: 468px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_135 {
  width: 409px;
  height: 289px;
  background: url("../images/v147_135.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_136 {
  width: 241px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 320px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v147_137 {
  width: 118px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 408px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v147_138 {
  width: 144px;
  color: rgba(0,0,0,0.6299999952316284);
  position: absolute;
  top: 349px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v147_140 {
  width: 409px;
  height: 468px;
  background: url("../images/v147_140.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 880px;
  box-shadow: 14px 14px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v147_141 {
  width: 409px;
  height: 468px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_142 {
  width: 409px;
  height: 289px;
  background: url("../images/v147_142.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_143 {
  width: 161px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 320px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v147_144 {
  width: 121px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 408px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v147_145 {
  width: 144px;
  color: rgba(0,0,0,0.6299999952316284);
  position: absolute;
  top: 349px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v147_147 {
  width: 409px;
  height: 468px;
  background: url("../images/v147_147.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1748px;
  box-shadow: 14px 14px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v147_148 {
  width: 409px;
  height: 468px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_149 {
  width: 409px;
  height: 289px;
  background: url("../images/v147_149.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_150 {
  width: 176px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 320px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v147_151 {
  width: 121px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 408px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v147_152 {
  width: 144px;
  color: rgba(0,0,0,0.6299999952316284);
  position: absolute;
  top: 349px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v147_154 {
  width: 409px;
  height: 468px;
  background: url("../images/v147_154.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1317px;
  box-shadow: 14px 14px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v147_155 {
  width: 409px;
  height: 468px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_156 {
  width: 409px;
  height: 289px;
  background: url("../images/v147_156.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_157 {
  width: 228px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 320px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v147_158 {
  width: 121px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 408px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v147_159 {
  width: 144px;
  color: rgba(0,0,0,0.6299999952316284);
  position: absolute;
  top: 349px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v147_225 {
  width: 100%;
  height: 490px;
  background: url("../images/v147_225.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2413px;
  left: 75px;
  overflow: hidden;
}
.v147_173 {
  width: 100%;
  height: 472px;
  background: url("../images/v147_173.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 14px 14px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v147_174 {
  width: 409px;
  height: 468px;
  background: url("../images/v147_174.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 1748px;
  overflow: hidden;
}
.v147_175 {
  width: 409px;
  height: 468px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_176 {
  width: 409px;
  height: 468px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_177 {
  width: 409px;
  height: 286px;
  background: url("../images/v147_177.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_178 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 320px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v147_179 {
  width: 131px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 408px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v147_180 {
  width: 144px;
  color: rgba(0,0,0,0.6299999952316284);
  position: absolute;
  top: 349px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v147_182 {
  width: 409px;
  height: 468px;
  background: url("../images/v147_182.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 1317px;
  overflow: hidden;
}
.v147_183 {
  width: 409px;
  height: 468px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_184 {
  width: 409px;
  height: 468px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_185 {
  width: 409px;
  height: 289px;
  background: url("../images/v147_185.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_186 {
  width: 162px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 320px;
  left: 21px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v147_187 {
  width: 131px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 408px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v147_188 {
  width: 144px;
  color: rgba(0,0,0,0.6299999952316284);
  position: absolute;
  top: 349px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v147_190 {
  width: 409px;
  height: 468px;
  background: url("../images/v147_190.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_191 {
  width: 409px;
  height: 468px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_192 {
  width: 409px;
  height: 283px;
  background: url("../images/v147_192.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_193 {
  width: 158px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 320px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v147_194 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 408px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v147_195 {
  width: 144px;
  color: rgba(0,0,0,0.6299999952316284);
  position: absolute;
  top: 349px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v147_197 {
  width: 409px;
  height: 468px;
  background: url("../images/v147_197.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 443px;
  overflow: hidden;
}
.v147_198 {
  width: 409px;
  height: 468px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_199 {
  width: 409px;
  height: 283px;
  background: url("../images/v147_199.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_200 {
  width: 161px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 320px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v147_201 {
  width: 131px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 408px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v147_202 {
  width: 144px;
  color: rgba(0,0,0,0.6299999952316284);
  position: absolute;
  top: 349px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v147_204 {
  width: 409px;
  height: 468px;
  background: url("../images/v147_204.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 886px;
  overflow: hidden;
}
.v147_205 {
  width: 409px;
  height: 468px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_206 {
  width: 409px;
  height: 283px;
  background: url("../images/v147_206.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_207 {
  width: 162px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 320px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v147_208 {
  width: 131px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 408px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v147_209 {
  width: 144px;
  color: rgba(0,0,0,0.6299999952316284);
  position: absolute;
  top: 349px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
