@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #4362c7;
    grid-column-gap: 20px ;
    grid-row-gap: 20px ;
    
}

.list{
    background-color:#4362c7;
    padding: 4em;    
}
.list .card{
    background-color: rgb(147, 238, 203);
    min-height: 300px;
    border-radius: 10px;
    padding: 45px 30px;
    box-shadow: 0px 10px 5px #b2bec3;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.card .name{
    font-size: 18px;
    font-weight: bold;

}
.card img {
    max-width: 100%;
    border-radius: 5px;
}
.card .deks {
    text-align: left ;
    margin-left: 1.5em;
    margin-bottom: 0.5em;
    
}
.card .bold{
    font-size: 18px;
    font-weight: bold;

}




.sec{
    background-color: white;
    
    border-radius: 10px;
    padding: 1em;
    
    text-align: center;
    font-family: 'Poppins', sans-serif;
   
}
 .btn{
    display: inline-block;
    align-items: center;
    
    padding: 15px 50px;
    text-align: center;
    border: none;
    background: #fdcd2e;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    transition: .3s;
    font-weight: bold;

}
.btn:hover {
    transform: translateY(-5px);
    background: #fdcd2e;
    cursor: pointer;
}
@media(max-width: 430px){
    .container{
        display: grid;
        grid-template-columns: 1fr ;
    }
}







