@import url("../default.css");


/* ===== CAROUSEL INDEx ===== */

.about-section {
    width: 100%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 3rem 0 4rem 0;
    background-color: inherit;

    h2 {
        padding: 24px 46px;
        font-size: 3rem;
    
        span {
          font-weight: 300;
        }
      }

    .carousel {
        width: 100%;
        height: 90vh;
        position: relative;
        overflow: hidden;
        padding: 0 3rem;

        .item {
            opacity: 0;
            width: 100%;
            height: 100%;
            display: none;
            transition: opacity 0.5s ease-in-out;
            background-position: center;
            background-size: cover;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

            .caption {
                cursor: pointer;
                width: 250px;
                text-align: center;
                font-size: 1rem;
                color: #fff;
                padding: 8px 28px;
                border-radius: 8px;
                text-decoration: none;
                background: var(--basic-color);
                margin: 0 0 24px 0;
            }

            .caption:active{
                transition-duration: 50ms;
                background-color: var(--basic-color-click);
            }
            .caption:hover{
                transition-duration: 150ms;
                background-color: var(--basic-color-hover);
            }

            &.active {
                opacity: 1;
                display: flex;
                align-items: flex-end;
                justify-content: center;
            }
        }
    }

    .btn {
        /* padding: 1em 2em; */
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        height: 100%;
        outline: none;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 900;
        color: #10100e;
        background-color: #e9e9e927;
        transition: transform 0.2s ease-in-out;

        &:active,
        &:focus {
            transform: translateY(-50%) scale(0.9);
        }

        &:hover {
            transform: translateY(-50%) scale(0.96);
        }
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }

    .dots {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 12px 0;
        gap: 10px;

        .dot {
            cursor: pointer;
            height: 4px;
            width: 100px;
            background-color: #242421;
            transition: background-color 0.2s ease;

            &.active,
            &:hover {
                background-color: #c0c0c0;
            }
        }
    }
}

.banner-loading-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.banner-loading{
    width: 90px;
}

/* ===== END OF CAROUSELs ===== */

@media (max-width: 900px){
    .about-section{
        .carousel{
            height: auto;
            aspect-ratio: 16/9;
            padding: 0 2rem;
        }
    }
}

@media (max-width: 600px){
    .about-section{
        margin-bottom: 8rem;
        .carousel{
            aspect-ratio: 16/10;
            padding: 0 0.5rem;

            .item{
                .caption{
                    font-size: 0.8rem;
                    width: 45%;
                    padding: 8px 20px;
                }
            }
        }
        h2{
            font-size: 2rem;
        }
    }
}