@import url("../default.css");
@import url("products_style.css");

:root {
  /* URL mengarah ke file */
  --bg-component: url("../assets/components/header-component.png");
}

body,
html {
  min-height: 100vh;
  overflow-x: hidden;
}

.hero {
  background: linear-gradient(220deg, var(--basic-color) -120px, #fff);
  position: relative;
  width: 100%;
  bottom: 0;
  height: 100vh;
  overflow: hidden;
  z-index: 2;
}

.header-bg-component {
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
  z-index: 3;
  opacity: 0.25;
}

.hero header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 4;
}

header {
  padding: 12px 26px;

  div {
    display: flex;
    align-items: center;
    gap: 8px;

    img.logo-header {
      width: 45px;
      filter: drop-shadow(5px 5px 5px #4e4e4e);
    }

    h4 {
      font-size: 1.1rem;
    }
  }
}

.left-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.left-header .logo-header {
  width: 60px;
  filter: drop-shadow(5px 5px 5px #222);
}

.left-header .btn-header {
  padding: 8px 40px;
  font-weight: 700;
  font-size: 1rem;
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 25px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition-duration: 200ms;
  display: flex;
  width: 180px;
  align-items: center;
}

.left-header .btn-header:hover {
  background-color: #3b3b3b;
  color: #fff;
  transition-duration: 150ms;
}

.hero section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  overflow: hidden;
  flex-direction: row;
}

.hero section .title-hero-wrap {
  position: absolute;
  left: auto;
  z-index: 1;
}

.title-hero-wrap .title {
  color: #000000;
  font-size: 12.5vh;
  line-height: 100%;
}

.title-hero-wrap .title span {
  color: #103837;
}

.title-hero-wrap .sub-title {
  font-size: 4.5vh;
}

/* ========== MASKOTTT =========== */
.maskot-wrap {
  position: absolute;
  right: 10%;
  top: 10%;
  z-index: 4;
}

.maskot-wrap .maskot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.maskot-wrap .maskot .main-maskot {
  width: 400px;
  z-index: 6;
}

.maskot-wrap .maskot .alas-maskot {
  position: absolute;
  bottom: 0;
  z-index: 5;
  width: 80%;
}



/* ========== SUB HERO ========== */


.sub-hero {
  position: relative;
  padding: 300px 100px 150px 100px;
  background: #fff;
  z-index: 1;
  display: flex;
  flex-direction: row;
  gap: 70px;
  align-items: center;
}

.sub-hero .circle {
  border-radius: 100%;
  padding: 20px;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  background: linear-gradient(200deg, var(--basic-color) -20px, #fff);
  box-shadow: 0px 0px 50px 14px rgba(0, 0, 0, 0.4);
}

.sub-hero .circle img {
  width: 100%;
  aspect-ratio: 1/1;
}

.sub-hero .text h2 {
  font-size: 3rem;
}

.sub-hero .text p {
  line-height: 170%;
  text-align: justify;
  padding: 16px 0;
  font-weight: 500;
}

/* ========== END SUB HERO ========== */






/* ========== ABOUT SECTION ========== */


.about-section {
  margin: 50px 0;
  display: block;
  padding: 0 0 200px 0;
  background: linear-gradient(0deg, var(--basic-color) -400px, transparent);

  h2 {
    padding: 24px 46px;
    font-size: 3rem;

    span {
      font-weight: 300;
    }
  }

  .carousel-wrap {
    display: -webkit-box;
    /* padding: 8px 46px; */
    overflow-x: auto;
    width: 100%;
    transition: transform 0.3s ease-in-out;


    .carousel-inner {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      /* gap: 24px; */

      .item-carousel {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        button {
          background: var(--basic-color);
          color: #fff;
          width: 250px;
          padding: 8px 28px;
          border-radius: 8px;
          border: none;
          font-size: 1.15rem;
          font-weight: 500;
          margin: 0 0 24px 0;
          cursor: pointer;
        }

        button:hover {
          background-color: var(--basic-color-hover);
          transition-duration: 150ms;
        }
      }
    }

  }

  .carousel-wrap::-webkit-scrollbar {
    height: 2px;
  }

  .carousel-wrap::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .carousel-wrap::-webkit-scrollbar-track {
    box-shadow: none;
  }


  /* ========== UMKM ========== */
  .umkm-section {
    width: 100%;
    margin: 48px 0 0 0;
  }

  .umkm-section h2 {
    font-size: 3rem;
  }

  .umkm-section {
    .card-umkm-wrap {
      display: -webkit-box;
      overflow-x: auto;
      gap: 12px;
      padding: 0 24px;

      .card-umkm {
        width: 33%;
        border-radius: 6px;
        height: auto;
        aspect-ratio: 4/2.6;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        .text-card {
          color: #000;
          border-radius: 0 0 6px 6px;
          width: 100%;
          padding: 0 3% 3% 3%;
          background-image: linear-gradient(0deg, #dfcbcb 0%, transparent 100%);
        }
      }
    }

    .card-umkm-wrap::-webkit-scrollbar {
      height: 0px;
    }

    .card-umkm-wrap::-webkit-scrollbar {
      background-color: transparent;
    }

    .card-umkm-wrap::-webkit-scrollbar {
      box-shadow: none;
    }
  }

}

/* ============ END OF UMKM =========== */


/* ========== END ABOUT SECTION ========== */




















/* ========================================= */
/* =========== RESPONSIVE ONLY ============= */
/* ========================================= */
@media (max-width: 1150px) {
  .header-bg-component {
    display: none;
  }

  .maskot-wrap {
    top: 10%;
    right: 10%;
  }

  .maskot-wrap .maskot .main-maskot {
    width: 300px;
  }
}

@media (max-width: 950px){
  .about-section{
    .umkm-section{
      .card-umkm-wrap{
        .card-umkm{
          .text-card{
            h3{
              font-size: 1rem;
              font-weight: 700;
            }
            p{
              font-size: 0.95rem;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 850px) {
  .maskot-wrap {
    display: none;
  }
  .about-section{
    .umkm-section{
      .card-umkm-wrap{
        .card-umkm{
          width: 50%;
          .text-card{
            h3{
              font-size: 1.15rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {

  .about-section {

    h2 {
      font-size: 2rem;
    }

    .carousel-wrap {
      padding: 8px 0;

      .carousel-inner {
        width: 100%;
        gap: 0;
      }

    }

    .umkm-section{
      h2{
        font-size: 2rem;
      }
      .card-umkm-wrap{
        .card-umkm{
          width: 70%;
        }
      }
    }

  }

  .title-hero-wrap {
    .title {
      font-size: 3.7rem;
    }

    .sub-title {
      font-size: 1.2rem;
    }
  }

  .hero header {
    justify-content: center;
  }

  .hero section {
    justify-content: center;
  }

  .sub-hero {
    flex-direction: column;
    align-items: center;
    padding: 100px 30px;
  }

  .sub-hero .circle {
    width: 60%;
  }


  .carousel-wrap {
    padding: 8px 20px;
  }

}

@media (max-width: 450px){
  .about-section{
    .umkm-section{
      .card-umkm-wrap{
        .card-umkm{
          width: 80%;
        }
      }
    }
  }
}

@media (max-width: 350px) {
  .sub-hero .text h2 {
    font-size: 2rem;
  }

  .sub-hero .text p {
    font-size: 0.85rem;
    word-spacing: -1px;
  }

  .title-hero-wrap {
    .title {
      font-size: 2.7rem;
    }

    .sub-title {
      font-size: 1rem;
    }
  }

  .about-section {
    .carousel-wrap {
      .carousel-inner {
        .item-carousel {
          button {
            width: 180px;
            font-size: 0.9rem;
          }
        }
      }
    }

    .umkm-section{
      .card-umkm-wrap{
        .card-umkm{
          width: 100%;
        }
      }
    }
  }
}



/* ========================================= */
/* ============ END RESPONSIVE ============= */
/* ========================================= */